@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,500;1,400&family=Poppins:wght@100;200;300;400;500&family=Roboto+Slab:wght@200;400&display=swap');

:root{
    --blanco: #f9f9f9;
    --fucsia: #DB167B;
    --azul: #007e8f;
    --azulClaro: #00C2DB;
    --azulOscuro: #00515C;
    --gris: #222;
    --grisMedio: #333;
    --grisClaro: #999;
}

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalizes;
}

html{
    font-size: 62.4%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{

    width: 6px;
    background-color:var(--gris);
    opacity: .6;

}

html::-webkit-scrollbar-thumb{
    background: var(--azulClaro);
    border-radius: 5px;
}

body{
    background: var(--gris);   
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    border-bottom: solid 2px rgba(0, 0, 0, .2);
}

/* .App{
    visibility: hidden;
} */

@media(max-width:1200px){
  html{
      font-size: 55%;
  }
}

@media (max-width:990){

  section{
      padding: 0 3%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
  }

}

